/* Archivo: css/impresion.css */

/* Ocultar elementos innecesarios para el papel */
header, footer, .col-md-4 {
    display: none !important;
}

/* Que la ficha ocupe todo el ancho del papel */
.col-md-8 {
    width: 100% !important;
}

/* Quitar sombras y bordes para ahorrar tinta */
.card {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

body {
    background-color: white !important;
}